<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>833098601115-9759smnmga3cpencnlnstdda9v5vjc3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833098601115-9759smnmga3cpencnlnstdda9v5vjc3q</string>
	<key>API_KEY</key>
	<string>AIzaSyC1mYsDSY5O7kly4nU_A5wPXiCm2buvlZM</string>
	<key>GCM_SENDER_ID</key>
	<string>833098601115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sowmya.InventoryApp</string>
	<key>PROJECT_ID</key>
	<string>inventory-app-97fa7</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-app-97fa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:833098601115:ios:b3f3c52b992ce834</string>
	<key>DATABASE_URL</key>
	<string>https://inventory-app-97fa7.firebaseio.com</string>
</dict>
</plist>